// https://developer.mozilla.org/en-US/docs/Web/CSS/@media/display-mode
@custom-media --minimal-ui (display-mode: minimal-ui);
@custom-media --fullscreen (display-mode: fullscreen);
@custom-media --standalone (display-mode: standalone);
@custom-media --browser (display-mode: browser);

// https://drafts.csswg.org/mediaqueries-5/#prefers-color-scheme

// prefers-color-scheme: dark
@custom-media --dark (prefers-color-scheme: dark);

// prefers-color-scheme: light
@custom-media --light (prefers-color-scheme: light);

// prefers-color-scheme: no-preference
$no-theme-preference: 'prefers-color-scheme: no-preference';
@include --m(any-theme, $no-theme-preference);
@include --m(any-color-scheme, $no-theme-preference);
@include --m(no-theme-preference, $no-theme-preference);
@include --m(no-color-scheme-preference, $no-theme-preference);

// https://drafts.csswg.org/mediaqueries-5/#prefers-reduced-transparency

// prefers-reduced-transparency: reduce
$reduced-transparency: 'prefers-reduced-transparency: reduce';
@include --m(reduced-transparency, $reduced-transparency);
@include --m(less-transparency, $reduced-transparency);

// prefers-reduced-transparency: no-preference
$no-transparency-preference: 'prefers-reduced-transparency: no-preference';
@include --m(no-transparency-preference, $no-transparency-preference);
@include --m(transparency, $no-transparency-preference);
@include --m(full-transparency, $no-transparency-preference);
