/*
 * MEDIA SPEECH MIXIN
 *
 * A speech based mixin. Same signature as the `--media` one.
 *
 */

@mixin --speech($name, $argsFeatures...) {
  $features: null;

  $index: 1;
  @each $feature in $argsFeatures {
    @if $index > 1 {
      $features: #{$features ','};
    }
    $features: 'only speech and' #{$features unquote('(#{$feature})')};

    $index: $index + 1;
  }

  @custom-media --#{$name} #{$features};
  // @debug --#{$name} unquote('#{$features}'); // Uncomment for console debug.
}
